br-ext-tree/package/albert-ui/build
br-ext-tree/package/albert-ui/test/run_tests
br-ext-tree/configs/albert_dev_defconfig
br-ext-tree/package/albert-temperature-sensor/build
br-ext-tree/board/wpa_supplicant.conf

# Ignore list for KiCAD Projects
# Temporary files
*.000
*.bak
*.bck
*.kicad_pcb-bak
*.sch-bak
*~
_autosave-*
*.tmp
*-save.pro
*-save.kicad_pcb
fp-info-cache
# Netlist files (exported from Eeschema)
*.net
# Autorouter files (exported from Pcbnew)
*.dsn
*.ses
pcb_pi_shield/pcb_pi_shield-backups/
