[Unit]
Description=Interface to temperature sensor controllable via systemctl

[Service]
Environment=
Type=dbus
BusName=org.joomby.TemperatureSensor
ExecStart=/usr/bin/temperature-sensor

[Install]
WantedBy=default.target
